@import 'primeicons/primeicons.css';

* {
  box-sizing: border-box;
}

body,
body .p-component {
  margin: 0;
  font-family: 'Roboto', 'Open Sans', sans-serif;
}

body {
  background-color: #f7f6f3;
}

